.mobile {
  display: none;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger__btn {
  display: none;
  flex-direction: column;
  cursor: pointer;
  z-index: 5;

  background: transparent;
  gap: 6px;
}

// .burger__btn.active .line:nth-child(2) {
//   opacity: 0;
// }

// .burger__btn.active .line:nth-child(1) {
//   transform: translateY(14px) rotate(45deg);
// }

// .burger__btn.active .line:nth-child(3) {
//   transform: translateY(-15px) rotate(-45deg);
// }

.line {
  border: 2px solid #000;
  width: 40px;
  height: 0px;
}

.menu__mobile {
  padding-top: 20px;
  width: 360px;
  z-index: 5;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
  background: #fff;
  justify-content: center;
  display: flex;
  flex-direction: column;

  .menu__mobile-close {
    text-align: right;
    padding-right: 20px;
  }

  .menu__items-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-bottom: 60px;
  }

  .menu__item-mobile {
    cursor: pointer;

    a {
      font-family: $second-family;
      font-weight: 400;
      font-size: 24px;
      color: #000;
    }

    &:hover {
      transition: 0.8s hover ease;
    }
  }
}

.menu__mobile-line {
  width: 300px;
  height: 2px;
  background: #f7f2ea;
  margin: auto auto 60px;
}

.menu__mobile-contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;

  .menu__mobile-contacts-item a {
    font-family: $font-family;
    font-weight: 300;
    font-size: 13px;
    color: #000;
  }
}

.menu__mobile__icon-group {
  display: flex;
  justify-content: center;
  gap: 70px;
  padding: 19px 80px;
  background: #f7f2ea;
  width: 100%;
}

@media (max-width: 768px) {
  .mobile {
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .burger__btn {
    display: flex;
  }
}
