.navbar {
  overflow: hidden;
  display: block;
  padding: 18px 20px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  cursor: pointer;

  &__item {
    opacity: 0.8;

    &:hover {
      opacity: 1;
      transition: 0.3s ease;
    }
  }
}

.menu__items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 65px;
  max-width: 580px;
  width: 100%;

  .menu__item {
    a {
      text-decoration: none;
      color: black;
    }
  }
}

.menu__icon-group {
  display: flex;
  justify-content: space-between;
  gap: 10px;

  .icon__group-left {
    display: flex;
    gap: 20px;
  }

  .icon__group-right {
    display: flex;

    input {
      border: none;
      outline: none;
      height: 100%;
      max-width: 100px;
      flex-shrink: 2;

      @media (max-width: 1000px) {
        max-width: 50px;
      }
    }

    .search__btn {
      border: none;
      background-color: #fff;
      cursor: pointer;
    }
  }
}

@media (max-width: $breakpoint768) {
  .menu__items {
    display: none;
  }
}

@media (max-width: $breakpoint480) {
  .navbar {
    overflow: hidden;
    display: block;
    padding: 10px 10px;
  }
}
