.explore {
    color: $black;
    // .explore__title

    &__title {
        display: block;
        max-width: 700px;
        overflow: hidden;
        // color: $black;
        text-align: center;
        padding-top: 150px;
        align-items: center;
        align-content: center;
        margin: 0 auto;

        /* Quotation 40px Italic Light */
        font-size: 40px;
        font-style: italic;
        font-weight: 300;
        line-height: normal;

        &-marked {
            // position: absolute;
            position: relative;
            display: inline-block;
            // height: 61px;
            // width: 350px;
            //   background-color: $lightBg;



            // padding-bottom: 15px;
            // padding-right: 80px;
            .mark {
                position: absolute;
                z-index: -1;
                top: 0;
                left: 0;
                width: 64vw;
                height: 61px;
                background-image: linear-gradient(90deg, #f7f2ea 0%, #f7f2ea 80%);
                background-size: cover;
                background-position: right;
            }
        }
    }

    // .explore__subtitle

    &__subtitle {
        padding-top: 150px;
        text-align: center;
    }

    // .explore__brands

    &__brands {
        margin-top: 60px;
        display: flex;
        gap: 40px;
    }

    // .explore__brand

    &__brand {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    // .explore__item

    &__brand {
        img {}

        .brand__name {
            color: var(--Black, #151618);
            /* H3 Title 24px Light */
            font-family: Cormorant;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
}