.reviews {
    margin-top: 158px;
    padding-bottom: 68px;
    background: $lightBg;
    // opacity: 0.5;

    .reviews__title {
        margin-top: 52px;
        text-align: center;

    }

    .clietns__reviews {
        margin-top: 60px;
        display: flex;
        gap: 26px;
    }

    .review__item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;

        .review__text {
            color: $black;

            /* Quotation Small 16px Light Italic */
            font-family: 'Open Sans';
            font-size: 16px;
            font-style: italic;
            font-weight: 300;
            line-height: normal;
        }

        .review__writer {
            color: $black;
            /* Main Text 20px SemiBold */
            font-family: Open Sans;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }
    }
}

@media screen and (max-width: $breakpoint1000) {
    .clietns__reviews :nth-child(4) {
        display: none;
    }

}

@media screen and (max-width: $breakpoint768) {
    .clietns__reviews {
        flex-wrap: wrap;
        gap: 76px;
        justify-content: center;
    }

    .review__item {
        flex-basis: 280px;
    }
}


@media screen and (min-width: $breakpoint480) {
    .reviews {
        margin-top: 60px;
    }

    .clietns__reviews {
        gap: 20px;
    }

    .review__item {
        flex-basis: 47%;
    }
}

@media screen and (max-width: $breakpoint480) {
    .reviews {
        margin-top: 60px;
    }

    .clietns__reviews {
        gap: 20px;
    }

    .review__item {
        flex-basis: 220px;
    }
}


@media screen and (max-width: $breakpoint360) {
    .reviews {
        margin-top: 80px;
    }

    .clietns__reviews :nth-child(n + 3) {
        display: none;
    }

    // .clietns__reviews :nth-child(4) {
    //     display: none;
    // }

    .review__item {
        flex-basis: 340px;
    }

    .clietns__reviews {
        gap: 30px;
    }



}