 .subscribe {
     //  min-height: 525px;
     //  min-width: 768px;
     padding-top: 100px;
     padding-bottom: 100px;
     background: url(./img/section_back2.png);
     //  background-color: #F7F2EA;
     background-size: 57%;
     background-repeat: no-repeat;
     //  background-position: 640px 0px;
     background-position: 50vw 0px;
     background-color: $lightBg;

 }




 .subscribe__wrapper {
     display: flex;
     flex-direction: column;

     .subscribe__row {
         display: flex;
         flex-direction: row;
         gap: 44px;
         justify-content: space-between;

         .subscribe__content {
             max-width: 575px;
         }
     }


 }

 .subscribe__title {
     margin-top: 100px;
     margin-bottom: 50px;
     font-family: var(--second-family);
     font-weight: 400;
     font-size: 40px;
     color: #151618;
 }


 .subscribe__text {
     font-family: var(--font-family);
     font-weight: 300;
     font-size: 20px;
     line-height: 150%;
     color: #151618;
 }

 .subscribe__form {

     display: flex;
     flex-direction: column;
     max-width: 575px;
     justify-content: space-between;

     .placeholder__row {
         display: flex;
         flex-direction: row;
         align-items: center;
         justify-content: space-between;

         .input__mail {
             text-decoration: none;
             border: none;
             border-bottom: 1px solid #b8b58b;
             background: transparent;
             height: 100%;
             display: flex;
             flex-basis: 70%;
             padding: 5px;

         }

         input::placeholder {
             font-family: var(--font-family);
             font-weight: 300;
             font-size: 20px;
             line-height: 150%;
             color: #b8b58b;
         }

         .subscribe__btn {
             display: flex;
             flex-basis: 0;
             border: 1px solid #151618;
             padding: 12px 41px;
             background: #fff;

             .input__submit {
                 text-decoration: none;
                 border: none;
                 background: transparent;
                 font-family: var(--font-family);
                 font-weight: 300;
                 font-size: 20px;
                 color: #151618;
             }

         }
     }

 }


 .checkbox__row {
     display: flex;
     align-items: flex-start;

     .checkbox__input {
         display: block;
     }

     .checkbox__info {
         font-family: var(--font-family);
         font-weight: 300;
         font-size: 13px;
         color: #151618;
     }
 }