.blog {
    margin-top: 120px;
    margin-bottom: 150px;

    .blog__maintitle {
        text-align: center;
        margin-bottom: 60px;
    }

    .blog__all {
        margin: 0 auto;
        display: flex;
        color: $black;
        font-family: "Open Sans", sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        padding: 12px 41px;
        border: 1px solid $black;
        background: $white;
        cursor: pointer;
    }
}

.blog__wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;

    .blog__row {
        display: flex;
        flex-direction: row;
        margin-bottom: 40px;
        gap: clamp(1.25rem, -11.25rem + 20vw, 3.75rem);
        flex-wrap: wrap;
    }

    .blog__item {
        max-width: 540px;
        flex-basis: 47%;
        display: flex;
        gap: 20px;
    }
}

.blog__image {
    flex-shrink: 1;
}

.blog__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 2;
    word-wrap: break-word;

    .blog__title {
        display: block;
        color: $black;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-wrap: balance;
    }

    .blog__author {
        display: block;
        color: $black;
        font-family: "Open Sans", sans-serif;
        font-size: 13px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        margin-bottom: 20px;
    }

    .blog__button {
        cursor: pointer;
        max-width: 43px;
        background: none;
        color: $black;
        font-family: "Open Sans", sans-serif;
        font-size: 13px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        display: flex;
        gap: 8px;
        align-items: center;
        border: none;
        padding: 0 4px;
    }

    .blog__more {
        display: none;
    }
}

@media screen and (max-width: $breakpoint1000) {
    .blog__wrapper .blog__row {
        margin-bottom: clamp(1.25rem, -11.25rem + 20vw, 3.75rem);
    }

    .blog__wrapper .blog__item {
        max-width: 542px;
        flex-basis: 99%;
    }

    .blog__item:nth-child(even) {
        margin-left: 98px;
    }
}

@media screen and (max-width: $breakpoint768) {
    .blog__wrapper .blog__item {
        max-width: 100%;
        flex-basis: 100%;
    }
}

@media (max-width: $breakpoint480) {
    .blog {
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .blog__item:nth-child(even) {
        margin-left: 0px;
    }
}

@media (max-width: $breakpoint360) {
    .blog {
        margin: 50px 45px;
    }

    .blog__wrapper .blog__item {
        flex-direction: column;
    }
}
