@import "./reset.scss";
@import "./styles/_colors";
@import "./styles/_media";
@import "./fonts/fonts.scss";

$font-family: "Open Sans", sans-serif;
$second-family: "Cormorant", sans-serif;
$third-family: "IM FELL Great Primer SC", sans-serif;

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.container {
  width: 100%;
  margin: 0 auto;
  font-family: $Cormorant;
  padding: 0px 5px;
  // overflow: hidden;
  // @media (max-width: $breakpoint480) {
  //   padding: 5px;
  // }
}

.wrapper {
  max-width: ($containerWidth + $containerPadding) + px;
  margin: 0 auto;
  overflow: hidden;
}

.section__title {
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (max-width: $breakpoint360) {
  .section__title {
    font-size: 24px;
  }
}

.btn {
  padding: 15px 22px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.01em;
  display: inline-block;
}

.hidden {
  display: none !important;
}

.responsive__img {
  width: 100%;
  height: auto;
}



// @media screen and (max-width: $breakpoint1000) {}

// @media screen and (max-width: $breakpoint768) {}


// @media (max-width: $breakpoint480) {}


// @media (max-width: $breakpoint360) {}



@import "./styles/bloks/nav/hamburger-nav.scss";
@import "./styles/bloks/nav/nav.scss";
@import "./styles/bloks/header/header.scss";
@import "./styles/bloks/footer/footer.scss";
@import "./styles/bloks/explore/explore.scss";
@import "./styles/bloks/reviews/reviews.scss";
@import "./styles/bloks/blog/blog.scss";
@import "./styles/bloks/subscribe/subscribe.scss";
@import "./styles/bloks/prioritise/prioritise.scss";